<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16043473379-0hruvips5uq4a1oi90j5t1935tm5l0lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16043473379-0hruvips5uq4a1oi90j5t1935tm5l0lv</string>
	<key>API_KEY</key>
	<string>AIzaSyDX33dWREGRlwyRTs0EVwqZegubqKrCDV0</string>
	<key>GCM_SENDER_ID</key>
	<string>16043473379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.festivalVolunteerApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>oedsted-festival-app</string>
	<key>STORAGE_BUCKET</key>
	<string>oedsted-festival-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16043473379:ios:b7621b7a4781c78965c8d6</string>
</dict>
</plist>